<header class= "navbar navbar-fixed-top navbar-inverse" >
    <div class="container">
      <%= link_to "トップページへ", root_path, id:"logo" %>
      <nav>
        <ul class="nav navbar-nav navbar-right" > 
          <li><%= link_to "ユーザー登録画面ヘ", signup_path %></li>
          <li><%= link_to "詳細ページへ", about_path %></li>
          <li><%= link_to "Log in ページへ", "#" %></li>
        </ul>
      </nav>
    </div>  
  </header> 